div#header {
    padding-top:3%;
    padding-bottom:3%;
}

h1 {
    text-align: center;
    font-size: 8em!important;
}

div#links {
    font-size: 3em!important;
}

div#upfront {
    padding-left:10%;
    padding-right:10%;
}

div#upfront div {
    text-align: center;
    max-height:20%;
}

div#upfront div img {
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:2em;
    max-height: 500px;
}

div#links {
    font-size:1em;
    text-align: center;
}

div#header div {
    text-align: center;
}