<html>
    <head>
        <img alt="" src="assets/images/image01.png" style="width:100%; height:200px; float: left;">
        <div style="font-size:8em; float:left; font-family:cursive">Trái </div>
        <img alt="" src="assets/images/image07.png" style="max-width:125px; float: left;">
        <div style="font-size:8em; float:left; font-family:cursive;">ơ Cryptocurrency<div>
    </head>

    <body>
        <div id="payments" style="width:50%; float:left;">
            <div id="bitcoin" style="width:100%; display:inline-block; padding:30px;">
                <a href="https://blockchain.info/address/1Q9g516KM8DxQ7VHbMHmDLFuKEuQqBHL4v">
                    <img alt="" src="assets/images/image00.png" style="max-width:125px; float: left;">
                </a>
                <a href="bitcoin:1Q9g516KM8DxQ7VHbMHmDLFuKEuQqBHL4v">
                    <img alt="traibo bitcoin history" src="assets/images/image02.png" style="max-width:125px; float: left;">
                </a>
            </div>
            <div id="doggiecoin" style="width:100%; display:inline-block; padding:30px;">
                <img alt="" src="assets/images/image06.png" style="max-width:125px; float: left;">
                <img alt="" src="assets/images/image09.png" style="max-width:125px; float: left;">
            </div>
            <div id="jackie-chan" style="width:100%; display:inline-block; padding:30px;">
                <img alt="<3 <3 <3" src="assets/images/image03.png" style="max-width:125px; float: left;">
                @*<img alt="" src="assets/images/image04.png" style="max-width:125px; float: left;">*@
                <img alt="" src="assets/images/image05.png" style="max-width:125px; float: left;">
            </div>
        </div>
        <div id="raspberry">
            <img alt="" src="assets/images/image08.png" style="height:500px; float: left;">
        </div>






    </body>

</html>