<html>
    <head>
        <img alt="" src="assets/images/long_adam_beg.png" style="width:100%; height:200px; float: left;">
        <div style="font-size:8em; float:left; font-family:cursive; margin-right:70px;">Trái </div>
        <div style="font-size:8em; float:left; font-family:cursive">
            <img alt="" src="assets/images/crypto/bitcoin_logo.png" style="max-width:150px; float: left;">
        </div>
        <div style="font-size:8em; float:left; font-family:cursive;">ơ Crypto<div>
    </head>

    <body>
        <div id="payments" style="width:50%; float:left;">
            <div id="bitcoin" style="width:100%; display:inline-block; padding:30px;">
                <a href="https://blockchain.info/address/1Q9g516KM8DxQ7VHbMHmDLFuKEuQqBHL4v">
                    <img alt="" src="assets/images/crypto/bitcoin_mug.png" style="max-width:125px; float: left;">
                </a>
                <a href="bitcoin:1Q9g516KM8DxQ7VHbMHmDLFuKEuQqBHL4v">
                    <img alt="traibo bitcoin history" src="assets/images/crypto/qr_bitcoin_address.png" style="max-width:125px; float: left;">
                </a>
            </div>
            <div id="doggiecoin" style="width:100%; display:inline-block; padding:30px;">
                <img alt="" src="assets/images/crypto/dogecoin_logo.png" style="max-width:125px; float: left;">
                <img alt="" src="assets/images/crypto/qr_dogecoin_address.png" style="max-width:125px; float: left;">
            </div>
            <div id="jackie-chan" style="width:100%; display:inline-block; padding:30px;">
                <img alt="<3 <3 <3" src="assets/images/crypto/jackie_money.png" style="max-width:125px; float: left;">
                @*<img alt="" src="assets/images/image04.png" style="max-width:125px; float: left;">*@
                <img alt="" src="assets/images/qr_facebook.png" style="max-width:125px; float: left;">
            </div>
        </div>
        <div id="raspberry">
            <img alt="" src="assets/images/scaryman_taylor.png" style="height:500px; float: left;">
        </div>






    </body>

</html>