@(message: String)

@main("Horce Forse") {

    @*<a href='https://github.com/nelsonblaha/horceforse' style='position:fixed;padding:5px 45px;width:128px;top:50px;right:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);box-shadow:0 0 0 3px #f6c304, 0 0 20px -3px rgba(0, 0, 0, 0.5);text-shadow:0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);background-color:#f6c304;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Forse us on Thubbubs</a>*@

    <h1>Trái Bơ</h1>

    <div id="links">
        <div id="calendar">
            <a href="/calendar">Calendar</a>
        </div>
        <div id="music">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
            <a href="http://traibo.bandcamp.com">Bandcamp</a> -
            <a href="https://soundcloud.com/traiboband">Soundcloud</a>
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        </div>
        <a href="https://www.facebook.com/TraiBoband">Facebook</a> -
        <a href="https://twitter.com/traiboband">Twitter</a> -
        <a href="/crypto">Crypto</a>
    </div>

    <div id="upfront">
        <img id="performing" src="" alt=""/>
        <img id="showposters" src="" alt=""/>
        <img id="other" src="" alt=""/>
    </div>


}
