@(message: String)

@main("Horce Forse") {

    @*<a href='https://github.com/nelsonblaha/horceforse' style='position:fixed;padding:5px 45px;width:128px;top:50px;right:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);box-shadow:0 0 0 3px #f6c304, 0 0 20px -3px rgba(0, 0, 0, 0.5);text-shadow:0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);background-color:#f6c304;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Forse us on Thubbubs</a>*@

    <div id="header" class="row">
        <div class="col-md-6">
            <h1>Trái Bơ</h1>
        </div>

        <div id="links" class="col-md-6">
            <div id="calendar">
                <a data-toggle="modal" href="#calendar">Heckling Calendar</a>

                    <!-- Broken Modal (never shows) -->
                <div class="modal fade" id="calendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>
            <div id="music">
                <a href="http://traibo.bandcamp.com">Bandcramp</a> -
                <a href="https://soundcloud.com/traiboband">Soundcloud</a>
            </div>
            <a href="https://www.facebook.com/TraiBoband">Facebook</a> -
            <a href="https://twitter.com/traiboband">Twitter</a> -
            <a href="/crypto">Crypto</a>
        </div>
    </div>

    <div id="upfront" class="row">
        <div class="col-md-4 col-sm-12">
            <img id="performing" src="" alt=""/>
        </div>
        <div class="col-md-4 col-sm-12">
            <img id="showposters" src="" alt=""/>
        </div>
        <div class="col-md-4 col-sm-12">
            <img id="other" src="" alt=""/>
        </div>
    </div>

    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/17593523&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
}
