@main("Trái Bơ") {

    <div style="padding:100px;">

        <h2 style="padding:50px; font-size:6em;">Press</h2>

        <div class="col-sm-12 col-md-6">
            <div class="thumbnail" style="padding-top:2em;">
                <img src="assets/images/press/2bd.jpg" style="width:300px; height:226px;">
                <div class="caption">
                    <h3 id="thumbnail-label" style="text-align:center;"><a href="http://blogs.dallasobserver.com/dc9/2014/08/two_bronze_doors_diy_venue_profile.php">Dallas Observer 2014</a></h3>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="thumbnail" style="padding-top:2em;">
                <img src="assets/images/press/fwweekly2015.jpg" style="width:300px; height:226px;">
                <div class="caption">
                    <h3 id="thumbnail-label" style="text-align:center;"><a href="http://www.fwweekly.com/2015/02/04/try-trai-bo/">Fort Worth Weekly 2015</a></h3>
                </div>
            </div>
        </div>
    </div>

}